{% extends 'base.html' %}
{% block content %}

<div class="card">

    <h2>✏️ Edit Expense</h2>

    <form method="POST">

        <input
            name="amount"
            type="number"
            step="0.01"
            value="{{ e.amount }}"
            required
        >

        <!-- CATEGORY DROPDOWN -->
        <select name="category_id" required>

            {% if categories %}
                {% for c in categories %}
                    <option value="{{ c.id }}"
                        {% if c.id == e.category_id %}selected{% endif %}>
                        {{ c.name }}
                    </option>
                {% endfor %}
            {% endif %}

        </select>

        <input
            name="date"
            type="date"
            value="{{ e.date }}"
            required
        >

        <input
            name="description"
            value="{{ e.description or '' }}"
            placeholder="Description"
        >

        <button type="submit">Update</button>

    </form>

</div>

{% endblock %}
