{% extends 'base.html' %}
{% block content %}

<div class="login-wrapper">
    <div class="card">

        <h2>Register</h2>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p style="color:red;">{{ messages[0] }}</p>
        {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('register') }}">
            <input name="username" placeholder="Username" required>
            <input name="password" type="password" placeholder="Password" required>
            <button>Register</button>
        </form>

        <p>Already have account? <a href="{{ url_for('login') }}">Login</a></p>

    </div>
</div>

{% endblock %}
